<style>
    .text {
        text-align: center;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 2.5%;
        border-left: 1px;
        border-right: 1px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-left-color: #666666;
        border-right-color: #666666;
        bottom: 2%;
        top: 2%;
        margin-bottom: 5%;
        padding: 1em;
        border-left-style: solid;
        border-right-style: solid;
        font-family: "Gill Sans", sans-serif;
        border-radius: 28px;
    }
    .logo5 {
        height: auto;
        width: 150px;
        margin-top: 15.999px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    #logo5:hover {
        color: #fff;
        background-color: #fff;
    }
</style>

<div class="text"> <!-- Ay man this name kinda dumb --> <!-- Also thanks dragonsolace for teaching me to say ay man its an interesting saying--> <!-- Wow i wrote that yesterday, now it just looks stupid -->
<div>
    <a id="logo5" href="https://www.blurrmc.com">
        <%= image_tag "blurrmc-terms-circle.png", class: "logo5" %>
    </a>
</div>
<h1>BlurrMC Contact</h1>
<br>

<h2>To contact us at BlurrMC, either send us an email at:</h2>
<h3>contact@blurrmc.com</h3>
<br>
<h2>Or give us a call at:</h2>
<h3>(224) 324-4392‬</h3>
<br>
<h3>Last time changed:</h3>
<h4>August 20th, 2021</h4>
<br>
<h5>Copyright 2021 Martin Velev</h5>
<br>
</div>
<%= render 'partials/footer' %>