<style>
    .text {
        text-align: center;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 2.5%;
        border-left: 1px;
        border-right: 1px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-left-color: #666666;
        border-right-color: #666666;
        bottom: 2%;
        top: 2%;
        margin-bottom: 5%;
        padding: 1em;
        border-left-style: solid;
        border-right-style: solid;
        font-family: "Gill Sans", sans-serif;
        border-radius: 28px;
    }
    .logo5 {
        height: auto;
        width: 150px;
        margin-top: 15.999px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    #logo5:hover {
        color: #fff;
        background-color: #fff;
    }
</style>

<div class="text"> <!-- Ay man this name kinda dumb --> <!-- Also thanks dragonsolace for teaching me to say ay man its an interesting saying-->
<div>
    <a id="logo5" href="https://www.blurrmc.com">
        <%= image_tag "blurrmc-terms-circle.png", class: "logo5" %>
    </a>
</div>
<h1>BlurrMC EULA</h1>

<p>By using BlurrMC you are agreeing to our privacy policy, terms of service, and this EULA. Anything use of BlurrMC that is against this EULA will result in disciplinary actions.

<h2>Be Safe</h2>

<p>When using BlurrMC make sure you are safe. Never post any information that you do not feel comfortable posting, or any information that might endanger someone else. If we do find that you have published any content on BlurrMC that is for the intent of harming, doxxing, stealing, kidnapping, or commiting other malicious activites to someone or something, then your account will be terminated and local authorites may be contacted.</p>

<h2>Content</h2>

<p>You or any entity you represent is reponsible for any content that you upload or publish on BlurrMC. Additional information that you may uplaod to BlurrMC, such as the description of videos or your avatar, is public for anyone to view, unless you delete such content. We may not monitor content that you upload to BlurrMC, so YOU ARE RESPONSIBLE!</p>

<p>We do not support, endorse, resemble, or represent any user generated content. By using BlurrMC you understand that you may be exposed to viewing content that is dangerous, malicious, or harmful to you or others. BlurrMC is not liable for any content that you may view.</p>

<p>Any content that you upload may not be:</p>
<ul>
    <li>Copyrighted, trademarked, or reserved to rights that you don't have,</li>
    <li>Dangerous or harmful in any way,</li>
    <li>Pornographic,</li>
    <li>Graphic,</li>
    <li>Unlawful or terroristic,</li>
    <li>Harrassing or hating anybody or anything,</li>
    <li>Violent threats,</li>
    <li>Disinformation or fake news,</li>
    <li>Malicious or phishing,</li>
    <li>Self-harm</li>
</ul>
<p>If you include any persons, entities, or/and people in your content, you must have explicit permission from them to publish the specific content. We also have the rights to terminate your account or remove any content you have published to BlurrMC that we want, and that is not on this list.</p>

<h2>Abusive Content & Spam</h2>

<p>On BlurrMC we protect any other people or entities using our services. By using our services you may not:</p>
<ul>
    <li>Create a username and not use the account,</li>
    <li>Impersonate or fake being somebody else,</li>
    <li>Sell accounts or usernames,</li>
    <li>Link to any services that are malicious or attempting to compromise the security or somebody else,</li>
    <li>Spam anybody or any services on BlurrMC,</li>
    <li>Creating accounts to get around bans,</li>
    <li>Sell, host, transmit, or exploit BlurrMC,</li>
    <li>Copy, reverse engineer, sell, decrypt, or reverse compile BlurrMC,</li>
    <li>Sell or copyright any content that has been generated and/or published on BlurrMC,</li>
    <li>Any other content that we deem abusive.</li>
</ul>

<h2>Problems with BlurrMC</h2>
<p>If you have any problems with any of the content on BlurrMC, either use the 'Report' button for user-generated content, or <a href="https://blurrmc.com/contact/">contact us</a>.
<br>

<h3>Last time changed:</h3>
<h4>August 30th, 2021</h4>
<br>
<h5>Copyright 2021 Martin Velev</h5>
<br>
</div>
<%= render 'partials/footer' %>