<style>
    .text {
        text-align: center;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 2.5%;
        border-left: 1px;
        border-right: 1px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-left-color: #666666;
        border-right-color: #666666;
        bottom: 2%;
        top: 2%;
        margin-bottom: 5%;
        padding: 1em;
        border-left-style: solid;
        border-right-style: solid;
        font-family: "Gill Sans", sans-serif;
        border-radius: 28px;
    }
    .logo5 {
        height: auto;
        width: 150px;
        margin-top: 15.999px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    #logo5:hover {
        color: #fff;
        background-color: #fff;
    }
</style>

<div class="text"> <!-- Ay man this name kinda dumb --> <!-- Also thanks dragonsolace for teaching me to say ay man its an interesting saying-->
<div>
    <a id="logo5" href="https://www.blurrmc.com">
        <%= image_tag "blurrmc-terms-circle.png", class: "logo5" %>
    </a>
</div>
<h1>BlurrMC Terms of Service</h1>

<h2>1. Terms</h2>

<p>By accessing this Website, accessible from https://blurrmc.com, you are agreeing to be bound by these Website Terms and Conditions of Use and agree that you are responsible for the agreement with any applicable local laws. If you disagree with any of these terms, you are prohibited from accessing this site. The materials contained in this Website are protected by copyright and trade mark law.</p>

<p>When you register an account you certify that you are 13 years of age or older.</p>

<h2>2. Use License</h2>

<p>Permission is granted to temporarily download one copy of the materials on BlurrMC's Website for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:</p>

<ul>
    <li>modify or copy the materials;</li>
    <li>use the materials for any commercial purpose or for any public display;</li>
    <li>attempt to reverse engineer any software contained on BlurrMC's Website;</li>
    <li>remove any copyright or other proprietary notations from the materials; or</li>
    <li>transferring the materials to another person or "mirror" the materials on any other server.</li>
</ul>

<p>This will let BlurrMC to terminate upon violations of any of these restrictions. Upon termination, your viewing right will also be terminated and you should destroy any downloaded materials in your possession whether it is printed or electronic format. These Terms of Service has been created with the help of the <a href="https://www.termsofservicegenerator.net">Terms Of Service Generator</a> and Martin Velev (WOOOH THAT'S ME!!).</p>

<h2>3. Disclaimer</h2>

<p>All the materials on BlurrMC’s Website are provided "as is". BlurrMC makes no warranties, may it be expressed or implied, therefore negates all other warranties. Furthermore, BlurrMC does not make any representations concerning the accuracy or reliability of the use of the materials on its Website or otherwise relating to such materials or any sites linked to this Website.</p>

<h2>4. Limitations</h2>

<p>BlurrMC or its suppliers will not be hold accountable for any damages that will arise with the use or inability to use the materials on BlurrMC’s Website, even if BlurrMC or an authorize representative of this Website has been notified, orally or written, of the possibility of such damage. Some jurisdiction does not allow limitations on implied warranties or limitations of liability for incidental damages, these limitations may not apply to you. BlurrMC is not liable for any loss or damages when you use our platform.</p>

<h2>5. Revisions and Errata</h2>

<p>The materials appearing on BlurrMC’s Website may include technical, typographical, or photographic errors. BlurrMC will not promise that any of the materials in this Website are accurate, complete, or current. BlurrMC may change the materials contained on its Website at any time without notice. BlurrMC does not make any commitment to update the materials.</p>

<h2>6. Links</h2>

<p>BlurrMC has not reviewed all of the sites linked to its Website and is not responsible for the contents of any such linked site. The presence of any link does not imply endorsement by BlurrMC of the site. The use of any linked website is at the user’s own risk.</p>

<h2>7. Site Terms of Use Modifications</h2>

<p>BlurrMC may revise these Terms of Use for its Website at any time without prior notice. By using this Website, you are agreeing to be bound by the current version of these Terms and Conditions of Use.</p>

<h2>8. Your Privacy</h2>

<p>Please read our Privacy Policy.</p>

<h2>9. Governing Law</h2>

<p>Any claim related to BlurrMC's Website shall be governed by the laws of us without regards to its conflict of law provisions.</p>

<h2>10. Being Safe</h2>

<p>When using BlurrMC make sure you are safe. Never post any information that you do not feel comfortable posting, or any information that might endanger someone else. If we do find that you have published any content on BlurrMC that is for the intent of harming, doxxing, stealing, kidnapping, or commiting other malicious activites to someone or something, then your account will be terminated and local authorites may be contacted.</p>

<h2>11. Content</h2>

<p>You or any entity you represent is reponsible for any content that you upload or publish on BlurrMC. Additional information that you may uplaod to BlurrMC, such as the description of videos or your avatar, is public for anyone to view, unless you delete such content. We may not monitor content that you upload to BlurrMC, so YOU ARE RESPONSIBLE!</p>

<p>We do not support, endorse, resemble, or represent any user generated content. By using BlurrMC you understand that you may be exposed to viewing content that is dangerous, malicious, or harmful to you or others. BlurrMC is not liable for any content that you may view.</p>

<p>Any content that you upload may not be:</p>
<ul>
    <li>Copyrighted, trademarked, or reserved to rights that you don't have,</li>
    <li>Dangerous or harmful in any way,</li>
    <li>Pornographic,</li>
    <li>Graphic,</li>
    <li>Unlawful or terroristic,</li>
    <li>Harrassing or hating anybody or anything,</li>
    <li>Violent threats,</li>
    <li>Disinformation or fake news,</li>
    <li>Malicious or phishing,</li>
    <li>Self-harm</li>
</ul>
<p>If you include any persons, entities, or/and people in your content, you must have explicit permission from them to publish the specific content. We also have the rights to terminate your account or remove any content you have published to BlurrMC that we want, and that is not on this list.</p>

<h2>Abusive Content & Spam</h2>

<p>On BlurrMC we protect any other people or entities using our services. By using our services you may not:</p>
<ul>
    <li>Create a username and not use the account,</li>
    <li>Impersonate or fake being somebody else,</li>
    <li>Sell accounts or usernames,</li>
    <li>Link to any services that are malicious or attempting to compromise the security or somebody else,</li>
    <li>Spam anybody or any services on BlurrMC</li>,
    <li>Creating accounts to get around bans.</li>
</ul>
<p>No matter who you are, you must follow ALL of the rules and terms of BlurrMC, otherwise you WILL have your account and any content terminated.</p>
<p>If you have any problems with the terms of service on BlurrMC, please send an email to contact@blurrmc.com</p>
<br>

<h3>Last time changed:</h3>
<h4>August 20th, 2021</h4>
<br>
<h5>Copyright 2021 Martin Velev</h5>
<br>
</div>
<%= render 'partials/footer' %>