<br>
<br>
<br>
<br>
<br>
<div class="bottom-menu">
  <p class="center bottom-text">© <%= Date.today.year %> <strong>Martin Velev</strong></p>
  <p class="center bottom-text"><strong>BlurrMC</strong></p>
</div>