<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
<br>
<br>
<br>
    <div class="footer-basic">
        <footer>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="https://blurrmc.com">Home</a></li>
                <li class="list-inline-item"><a href="https://blurrmc.com/privacy_policy">Privacy Policy</a></li>
                <li class="list-inline-item"><a href="https://blurrmc.com/terms_of_service">Terms Of Service</a></li>
                <li class="list-inline-item"><a href="https://blurrmc.com/contact">Contact</a></li>
                <% if !user_signed_in? %>
                    <li class="list-inline-item"><%= link_to('Sign up', new_user_registration_path) %></li>
                <% end %>
            </ul>
            <p class="copyright">© Martin Velev <%= Date.today.year %></p>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>