<a class="errora" href="https://www.blurrmc.com"><%= image_tag "Blurr_Logo.png", class: 'errora' %></a>
<br>
<br>
<div class="errordiv">

<h1 class="errortitle">Error <%= @errorcode %></h2>
<hr >
<%= image_tag "error-404-1.png", class: 'errorimage' %>
<hr >
<h2 class="errortitle">We're sorry!</h2>

</div>

