<!DOCTYPE html>
<html lang="en">
<head>
<style>
.confirmbutton {
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #1cffbb;
  padding: 14px 40px;
  outline: none;
  color: #595959;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.logopic {
  height: 40px;
  width: 55px;
}
.moreinfo {
  color: #d4d4d4;
  font-size: 13px;
}
.moreinfo a{
  color: #d4d4d4;
}
.divide {
  width: 250px;
}
.contact {
  color: #3b3b3b;
}
body {
  background-color: #dbdbdb;
}
</style>
</head>
<body>

<center><img src="https://www.blurrmc.com/images/Blurr_Logo.png" alt="Blurr Logo" class="logopic">
<h3>Hello, <%= @resource.email %></h3>
<h4>You just changed your password</h4>
<h5>Wasn't you? <a href="https://www.blurrmc.com/users/password/new">Reset your password</a> and <a class="contact" href="contact@blurrmc.com">contact us</a></h5>
<hr class="divide">
<p class="moreinfo">You are receiving this email because you signed up with <a href="https://www.blurrmc.com">BlurrMC</a></p>
<p class="moreinfo">This email was sent to <%= @email %></p>
<p class="moreinfo">Need help? Contact us at <a href="contact@blurrmc.com">contact@blurrmc.com</a></p>
<p class="moreinfo">© <%= Date.today.year %> <strong>Martin Velev</strong></p></center>
</body>
</html>
